/**
 * Admin CSS for UW Catering
*/

.form-required {
  font-size: .8em;
}

/* reduce sizing on image crop preview */

.imagefield-crop-preview {
  max-height: 70vh;
}
.jcrop-preview-wrapper img {
  max-height: 80vh;
  width: auto !important;
}

/* Condense alignment on Paragraphs forms */
.node-menu-form .form-item label {
  font-size: 1.2em;
  font-weight: 400;
}
.fields-inline,
.node-menu-form .field-name-field-menu-price .form-item,
.node-menu-form .field-name-field-price-type .form-item {
  display: flex;
  align-items: start;
}
.fields-inline .form-wrapper {
  margin-right: 1em;
}
.fields-inline .form-wrapper .field-prefix {
  display: inline;
}
.fields-inline .field-name-field-menu-price .form-item {
  display: flex;
}
.node-menu-form .field-name-field-menu-price label:after,
.node-menu-form .field-name-field-price-type label:after {
  content: ':';
  font-size: .8em;
  margin-right: .5em;
  vertical-align: middle;
}
.node-menu-form .field-name-field-menu-price .field-prefix {
  font-size: 1.5em;
  margin: 0 .5em;
}
.node-menu-form .field-name-field-menu-item-dietary fieldset legend {
  font-size: 1.1em;
}
.node-menu-form .field-name-field-menu-item-dietary fieldset > div {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: .3em 1em;
  margin-top: 1em;
  max-width: 32em;
}
.node-menu-form .field-name-field-menu-item-dietary .form-item label.option {
  font-size: .9em;
}
/*
 * Options for menu items
 * Hide redundant help text
 */

.node-menu-form .field-name-field-menu-options .form-item label + p,
.node-menu-form .field-name-field-menu-options .form-item .description {
  display: none;
}
.node-menu-form .field-name-field-menu-options table th label {
  font-size: .9em;
}
.node-menu-form .field-name-field-menu-options .form-wrapper {
  margin: 0 0 1em;
}
.node-menu-form .field-name-field-menu-option-label .form-item {
  display: flex;
  margin-right: 1em;
}
.node-menu-form .field-name-field-menu-option-label label {
  margin-right: 1em;
}
